.cont {
  margin-top: 60px;
  max-width: "400px";
}

.b1 {
  display: block;
}

.title {
  text-align: left;
}

.landingicon {
  width: 700px;
}

@media screen and (max-width: 600px) {
  .landingicon {
  }
  .timer {
    font-size: 20em;
  }
}

.bordered {
  border: solid 1px;
  border-color: #ced4da;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
