.cont {
  margin-top: 60px;
  max-width: "400px";
}

.b1 {
  background-color: white;
  color: black;
}

.title {
  text-align: left;
}

.landingicon {
  width: 700px;
}

@media screen and (max-width: 600px) {
  .landingicon {
  }
  .timer {
    font-size: 20em;
  }
}

.sq {
  position: relative;
  width: 50%; /* desired width */
}
.sq:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.sqc {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bordered {
  border: solid 1px;
  border-color: #ced4da;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
